@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'work sans', sans-serif;
}
/* Header style start*/
.header-section{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
    width: auto;
}
.logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul{
    list-style: none;
    display: flex;
    
}
.nav-container ul li{
    padding-left: 20px;
}
.nav-container ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
/* banner style start */
.banner-container{
    
}
.title-description{
    width: auto;
    text-align: center;
    padding: 50px 0;
    
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
}
.banner-description{
    color: #727272;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.primary-btn{
    background-color: #FF900E;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 8px;
}
.banner-img{
    max-width: 100%;
}
/* banner style end */
/* Header style end*/